atomicwrites==1.2.1
attrs==18.1.0
bottle==0.12.13
certifi==2018.8.24
chardet==3.0.4
idna==2.7
more-itertools==4.3.0
oauthlib==2.1.0
pluggy==0.7.1
py==1.6.0
pycodestyle==2.4.0
PySocks==1.6.8
pytest==3.7.4
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
SQLAlchemy==1.2.11
tweepy==3.6.0
urllib3==1.23
